.image {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.table {
  border: 1px solid rgb(188, 188, 198);
  width: 60% !important;
  margin: 1rem auto;
  max-height: 880px !important;
}
