.footer {
    padding: 1rem 0;
    background-color: #93269f;
    bottom: 0;
    /* position: fixed; */
    left: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 60px;
  }
  
  .socialMedia {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
  }
  